amuse-8.1.tar.gz
amuse-8.1
prerequisites8.1
amuse-8.1-Linux_x86_64/
amuse-10.0.tar.gz
amuse-10.0
prerequisites10.0
amuse-10.0-Linux_x86_64/
installing_amuse.log
test_dependencies.sh
*/literature
*.swp
*.hdf5
*.pyc
note_to_self.txt
.amuse.pid
.mpd.pid
